# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editors
.idea/
.vscode/
.vs/
*.swp
*.swo

# Logs
*.log

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/

# Build artifacts
dist/
build/
coverage/

/.vs/Synergeticum.slnx/FileContentIndex/7568dc66-672b-4fd7-9c1a-03c0c29c4c9f.vsidx
